# Heroes of Pymoli

In [1]:
import pandas as pd
import os

filepath=os.path.join("HeroesOfPymoli","purchase_data.json")
Original = pd.read_json(filepath)
#Original.head()
#Original.count() Just checked that there weren't null values

## Player Count

In [2]:
players = len(Original["SN"].unique())

Summary = pd.DataFrame({"Total Player": [players]}, )
Summary

   Total Player
0           573

## Purchasing Analysis (Total)

#### Number of Unique Items

In [3]:
unique_items = len(Original["Item Name"].unique())
avg_price= round(Original["Price"].mean(),2)
purchases = Original["Item Name"].count()
total_rev = Original["Price"].sum()

Summary = pd.DataFrame({"Number of Unique Items": [unique_items], 
                        "Average Price": [avg_price],
                        "Number of Purchases": [purchases],
                        "Total Revenue": [total_rev]})



Summary

   Average Price  Number of Purchases  Number of Unique Items  Total Revenue
0           2.93                  780                     179        2286.33

In [4]:
Original["Gender"].unique()

array(['Male', 'Female', 'Other / Non-Disclosed'], dtype=object)

## Gender Demographics

In [5]:
# males = Original[Original["Gender"]=="Male"]
Original["Gender"].values

gender_counts = []
gender_percent = []
genders = Original["Gender"].unique()

for gender in genders:
    gender_df = Original[Original["Gender"]== gender]
    gender_counts.append(len(gender_df["SN"].unique()))
    gender_percent.append(round(len(gender_df["SN"].unique()) / players * 100,2))

print(gender_counts)
print(gender_percent)

gender_demo_df = pd.DataFrame({"Genders": genders, "Percentage of Players": gender_percent, "Total Count": gender_counts})
gender_demo_df

[465, 100, 8]
[81.15, 17.45, 1.4]

                 Genders  Percentage of Players  Total Count
0                   Male                  81.15          465
1                 Female                  17.45          100
2  Other / Non-Disclosed                   1.40            8

## Purchasing Analysis (Gender)

### Male

In [6]:
male_pur_count = males["Item Name"].count()
male_tot_pur_val = round(males["Price"].sum(),2)
male_avg_pur = round(male_tot_pur_val / male_pur_count,2)

#male_normal_total =
print(f"Males purchased {male_pur_count} items, with an average of ${male_avg_pur}.\n Revenue from male players totaled ${male_tot_pur_val}")

NameError: name 'males' is not defined

## Age Demographics

In [ ]:
youngest = Original["Age"].min()
oldest = Original["Age"].max()
print(f"youngest player is {youngest} yo. Oldest player is {oldest} yo")

In [ ]:
bins = [0,9,14,19,24,29,34,39,100]
group_names = ['<10', '11-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']

In [ ]:
age_series = pd.cut(Original["Age"], bins, labels= group_names)

In [ ]:
Original["Age Groups"] = age_series
Original.head()

In [ ]:
age_groups = Original.groupby("Age Groups")
age_groups["Price"].count()

In [ ]:
age_groups["Price"].mean()

In [ ]:
age_groups[]

## Top Spenders

## Most Popular Items

## Most Profitable Items