# Heroes of Pymoli

In [1]:
import pandas as pd
import os

filepath=os.path.join("HeroesOfPymoli","purchase_data.json")
Original = pd.read_json(filepath)
Original.head()
#Original.count() Just checked that there weren't null values

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59

## Player Count

In [2]:
players = len(Original["SN"].unique())
print(f"{players} players")

573 players

## Purchasing Analysis (Total)

#### Number of Unique Items

In [3]:
unique_items = len(Original["Item Name"].unique())
print(f"{unique_items} items in game")

179 items in game

#### Average Purchase Price

In [4]:
avg_price= round(Original["Price"].mean(),2)
print(f"${avg_price}")

$2.93

#### Total Number of Purchases

In [5]:
purchases = Original["Item Name"].count()
print(f"{purchases} in-game purchases")

780 in-game purchases

#### Total Revenue

In [6]:
total_rev = Original["Price"].sum()
print(f"${total_rev} revenue from in-game purchases")

$2286.33 revenue from in-game purchases

## Gender Demographics

#### Percentage and Count of Male Players

In [7]:
males = Original[Original["Gender"]== "Male"]
male_count = len(males["SN"].unique())
perc_male = round(len(males["SN"].unique()) / players * 100,2)

print(f"There are {male_count} males playing Heroes of Pymoli, which make up {perc_male}% of all players")

There are 465 males playing Heroes of Pymoli, which make up 81.15% of all players

#### Percentage and Count of Female Players

In [10]:
females = Original[Original["Gender"]== "Female"]
females["SN"].count()
female_count = len(females["SN"].unique())
perc_female = round(len(females["SN"].unique()) / players * 100,2)
print(f"There are {female_count} women playing Heroes of Pymoli, which make up {perc_female}% of all players")

There are 100 women playing Heroes of Pymoli, which make up 17.45% of all players

#### Percentage and Count of Other / Non-Disclosed Genders

In [35]:
Others = Original[Original["Gender"]== "Other / Non-Disclosed"]
other_count = len(Other["SN"].unique())
perc_other = round(len(Other["SN"].unique()) / players * 100,2)
print(f"There are {other_count} non-binary/undisclosed gendered players playing Heroes of Pymoli, which make up {perc_other}% of all players")

There are 8 non-binary/undisclosed gendered players playing Heroes of Pymoli, which make up 1.4% of all players

## Purchasing Analysis (Gender)

### Male

In [40]:
male_pur_count = males["Item Name"].count()
male_tot_pur_val = round(males["Price"].sum(),2)
male_avg_pur = round(male_tot_pur_val / male_pur_count,2)

#male_normal_total =
print(f"Males purchased {male_pur_count} items, with an average of ${male_avg_pur}.\n Revenue from male players totaled ${male_tot_pur_val}")

Males purchased 633 items, with an average of $2.95.
 Revenue from male players totaled $1867.68

### Female

In [41]:
female_pur_count = females["Item Name"].count()
female_tot_pur_val = round(females["Price"].sum(),2)
female_avg_pur = round(female_tot_pur_val / female_pur_count,2)

#female_normal_total = 
print(f"Women purchased {female_pur_count} items, with an average of ${female_avg_pur}.\n Revenue from female players totaled ${female_tot_pur_val}")

Women purchased 136 items, with an average of $2.82.
 Revenue from female players totaled $382.91

### Other / Non-Disclosed

In [44]:
other_pur_count = Others["Item Name"].count()
other_tot_pur_val = round(Others.Price.sum(),2)
other_avg_pur = round(other_tot_pur_val / other_pur_count,2)

#other_normal_total = 
print(f"Other/non-disclosed gendered people purchased {other_pur_count} items, with an average of ${other_avg_pur}.\n Revenue from other/non-disclosed players totaled ${other_tot_pur_val}")

Other/non-disclosed gendered people purchased 11 items, with an average of $3.25.
 Revenue from other/non-disclosed players totaled $35.74

## Age Demographics

In [84]:
youngest = Original["Age"].min()
oldest = Original["Age"].max()
print(f"youngest player is {youngest} yo. Oldest player is {oldest} yo")

youngest player is 7 yo. Oldest player is 45 yo

In [94]:
bins = []
group_names = ["<10"]
cycle_max = int(oldest / 4)
print(cycle_max)
for x in range(11):
    x *= 4
    count = x + 9
    bins.append(count)
    if count == 13:
        continue
    else:
        group_names.append(f"{count+1}-{count+5}")
# to remove the last group name
group_names.pop()
print(bins)
print(group_names)

11

TypeError: 'numpy.float64' object is not callable

In [70]:
age_series = pd.cut(Original["Age"], bins, labels= group_names)

In [77]:
Original["Age Groups"] = age_series
Original.head()

,Age,Gender,Item ID,Item Name,Price,SN,Age Groups
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34,38-42
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46,18-22
2,34,Male,174,Primitive Blade,2.46,Assastnya25,34-38
3,21,Male,92,Final Critic,1.36,Pheusrical25,18-22
4,23,Male,63,Stormfury Mace,1.27,Aela59,22-26

In [79]:
age_groups = Original.groupby("Age Groups")
age_groups["Price"].count()

Age Groups
<10       29
10-14     93
18-22    187
22-26    262
26-30     58
30-34     56
34-38     36
38-42     28
42-46      3
46-50      0
50-54      0
54-58      0
58-62      0
62-66      0
66-70      0
70-74      0
74-78      0
78-82      0
82-86      0
86-90      0
90-94      0
94-98      0
Name: Price, dtype: int64

In [81]:
age_groups["Price"].mean()

Age Groups
<10      2.850000
10-14    2.865376
18-22    2.873209
22-26    2.985649
26-30    2.824310
30-34    3.088036
34-38    2.849722
38-42    3.080000
42-46    2.880000
46-50         NaN
50-54         NaN
54-58         NaN
58-62         NaN
62-66         NaN
66-70         NaN
70-74         NaN
74-78         NaN
78-82         NaN
82-86         NaN
86-90         NaN
90-94         NaN
94-98         NaN
Name: Price, dtype: float64

In [ ]:
age_groups[]

## Top Spenders

## Most Popular Items

## Most Profitable Items